/* this should not be pruned because it's global */
.global-unused {
  global: true;
}

@document :local {
  /* this should be pruned because `local-unused` is never used */
  .local-unused {
    local: true;
  }
}
