@font-face {
  font-family: GlobalFont;
  src: url('global.woff2') format('woff2');
}

@font-face {
  font-family: a1h8osx4__MyIcons-12px;
  src: url('MyIcons-12px.woff2') format('woff2');
}

.a62myar__icon {
  font-family: a1h8osx4__MyIcons-12px, GlobalFont, "Times New Roman";
}
